.green-gradient {
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  box-shadow: inset 0 0 30px #000000;
}

.dark-green-gradient {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #355340 74%);
  box-shadow: inset 0 0 30px #000000;
}

.blue-gradient {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  box-shadow: inset 0 0 30px #000000;
}

.light-blue-gradient {
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  box-shadow: inset 0 0 30px #000000;
}

.red-gradient {
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
  box-shadow: inset 0 0 30px #000000;
}

.grey-blue-gradient {
  background-color: #6a93cb;
  background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
  box-shadow: inset 0 0 30px #000000;
}

.pink-gradient {
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  box-shadow: inset 0 0 30px #000000;
}

.orange-gradient {
  background-color: #f94327;
  background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
  box-shadow: inset 0 0 30px #000000;
}

.yellow-gradient {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  box-shadow: inset 0 0 30px #000000;
}

.black-gradient {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  box-shadow: inset 0 0 30px #000000;
}

.purple-gradient {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  box-shadow: inset 0 0 30px #000000;
}
